// ./src/styles/global.scss
@use "element-plus/dist/index.css";
@use "./element-custom.scss";

/* 基础全局样式 */
body {
  margin: 0;
  padding: 0;
}
.el-table th .cell {
  font-size: 18px; /* 根据需要调整字体大小 */
}
